#include <windows.h>
#include <commctrl.h>
#include "src/resource.h"

IDD_SHUTDOWN DIALOGEX 0, 0, 310, 300
STYLE DS_SETFONT | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Scheduled shutdown - Liberty by Bada"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "", IDC_SHUTDOWN_STATUS, 16, 12, 278, 38
    CONTROL "After a duration", IDC_SHUTDOWN_DURATION_MODE, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 16, 52, 126, 16
    CONTROL "Daily schedule", IDC_SHUTDOWN_TIME_MODE, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 156, 52, 138, 16
    LTEXT "Duration", IDC_SHUTDOWN_PRESET_LABEL, 16, 84, 100, 12, WS_GROUP
    COMBOBOX IDC_SHUTDOWN_PRESET, 124, 80, 170, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Minutes (1-10080)", IDC_SHUTDOWN_LABEL, 16, 116, 100, 12
    EDITTEXT IDC_SHUTDOWN_MINUTES, 124, 112, 170, 20, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "Time (24-hour)", IDC_SHUTDOWN_TIME_LABEL, 16, 83, 92, 12
    CONTROL "", IDC_SHUTDOWN_TIME, "SysDateTimePick32", DTS_TIMEFORMAT | WS_TABSTOP, 112, 79, 100, 20
    PUSHBUTTON "Add", IDC_SHUTDOWN_DAILY_ADD, 220, 78, 74, 22
    LISTBOX IDC_SHUTDOWN_DAILY_LIST, 16, 108, 196, 82, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Remove", IDC_SHUTDOWN_DAILY_REMOVE, 220, 108, 74, 22
    LTEXT "", IDC_SHUTDOWN_HINT, 16, 200, 278, 48
    DEFPUSHBUTTON "Start timer", IDC_SHUTDOWN_START, 16, 266, 86, 24
    PUSHBUTTON "Cancel timer", IDC_SHUTDOWN_CANCEL, 110, 266, 86, 24
    PUSHBUTTON "Back", IDCANCEL, 204, 266, 90, 24
END

IDI_LIBERTY ICON "assets\\liberty-trinity.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,4,0
 PRODUCTVERSION 0,1,4,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Bada"
            VALUE "FileDescription", "Liberty by Bada"
            VALUE "FileVersion", "0.1.4"
            VALUE "InternalName", "Liberty"
            VALUE "OriginalFilename", "Liberty.exe"
            VALUE "ProductName", "Liberty by Bada"
            VALUE "ProductVersion", "0.1.4"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
